<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
    <a class="navbar-brand " href="#"> 
      <img src="assets/creed-logo.png" alt="logo" style="width: 28px;height: auto;">  
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        <a class="nav-item nav-link" routerLink="orders" routerLinkActive="active">Orders</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">login</a>
      </div>
    </div>
  </nav>