
<!-- <div class="text-secondary">{{selectedCatId}}</div> -->
<table class="table">
    <thead>
        <tr>
            <th>no</th>
            <th>name</th>
            <th>image</th>
            <th> av. quantity</th>
            <th>price</th>
            <th>price EGP</th>
            <th>count</th>
            <th>details</th>
            <th>add to cart</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prd of prdListOfCat;index as i"[ngClass]="{'bg-warning':prd?.quantity==0,'text-primary':prd?.quantity==0}">
            <!-- safe navigation operator -->
            <td>{{i+1}}</td>
            <td>{{prd?.name}}</td>
            <td><img LightBox highlightColor="lightblue" defaulttColor="gold" [src]="prd?.imgUrl" alt="img"></td>
            <td>
                <!-- <div *ngIf="prd.quantity !=0 else outofstock">{{prd?.quantity}}</div>
                <ng-template #outofstock> out of stock! </ng-template> -->
                <ng-container [ngSwitch]="prd.quantity">
                    <div *ngSwitchCase="0">out of stock!</div>
                    <div *ngSwitchCase="1">last item</div>
                    <div *ngSwitchDefault>{{prd?.quantity}}</div>
                </ng-container>
            </td>
            <td>{{prd?.price | currency}}</td>
            <td>{{prd.price | usdToEgp:31 | currency:'EGP':'code'}}</td>
            <!-- template variable -->
            <td><input #itemCount  type="number" class="form-control"></td>
            <!-- <td><button type="button" class="btn btn-secondary"(click)="openPrdDetails(prd.id)">details</button></td> -->
            <td><a  class="btn btn-primary" [routerLink]="['/products',prd.id]"  role="button">Details</a></td>
            <td><button type="button" class="btn btn-secondary"(click)="buy(prd.price,itemCount.value)">add to cart</button></td>

        </tr>
    </tbody>
</table>

