<div class="form-group">
  <label for="prdCat" class="form-label">category: </label>
  <select class="form-control" name="cat" id="prdCat" [(ngModel)]="selectedCatId">
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>
<div class="text-secondary">{{selectedCatId}}</div>
<table class="table">
    <thead>
        <tr>
            <th>no</th>
            <th>name</th>
            <th>image</th>
            <th> av. quantity</th>
            <th>price</th>
            <th>count</th>
            <th>buy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prd of prdList;index as i"[ngClass]="{'bg-warning':prd?.quantity==0,'text-primary':prd?.quantity==0}">
            <!-- safe navigation operator -->
            <td>{{i+1}}</td>
            <td>{{prd?.name}}</td>
            <td><img LightBox highlightColor="lightblue" [src]="prd?.imgUrl" alt="img"></td>
            <td>
                <!-- <div *ngIf="prd.quantity !=0 else outofstock">{{prd?.quantity}}</div>
                <ng-template #outofstock> out of stock! </ng-template> -->
                <ng-container [ngSwitch]="prd.quantity">
                    <div *ngSwitchCase="0">out of stock!</div>
                    <div *ngSwitchCase="1">last item</div>
                    <div *ngSwitchDefault>{{prd?.quantity}}</div>
                </ng-container>
            </td>
            <td>{{prd?.price}} $</td>
            <!-- template variable -->
            <td><input #itemCount  type="number" class="form-control"></td>
            <td><button type="button" class="btn btn-secondary"(click)="buy(prd.price,itemCount.value)">buy</button></td>
        </tr>
    </tbody>
</table>
<hr>
<h3>order total : {{orderTotalPrice}}</h3>